doctype
html(lang=config.language)
    head
        include head
    body
        include nav

        block header
        block content
        block comment

        include footer
        include footer-scripts
