//- doing something a bit funky here because I want to be careful not to include JQuery twice!
//- script.
//-    if (typeof jQuery == 'undefined') {
//-        document.write('<script src="/js/jquery-1.11.2.min.js"></scr' + 'ipt>');
//-    }

script(src="/js/jquery-1.11.2.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/main.js")
