header.header-section
    .intro-header.no-img
        .container
            .row
                .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                    .page-heading
                        h1= theme.header.title
                        hr.small
                        span.page-subheading= theme.header.motto
