#cloud-tie-wrapper.cloud-tie-wrapper
script(src="//img1.cache.netease.com/f2e/tie/yun/sdk/loader.js")  
script.
	var cloudTieConfig = {
	  url: document.location.href, 
	  sourceId: "",
	  productKey: "#{theme.comment.id}",
	  target: "cloud-tie-wrapper"
	};
