mixin post_meta(date, tags)
    p.post-meta Posted on #{full_date(date, "MMM D YYYY")}
        - tags.each(function(tag) {
            = ' · '
            a.post-meta(href=tag.path)= tag.name
        - })



